*{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

.container .logo{
	color: black;
	margin-top: 0;
	font-weight: 300;
}

.navbar-brand {
    padding: 15px 0px;
    font-size: 30px;/
}

.navbar{
	background-color: white;
	border: none;
}

.fa-search{
	background-color: #EC454D;
	color: white;
	padding: 7px 15px;
	border-radius: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

hr{
	border: 1px solid #EC454D;
	margin: 10px 20px;
}

.uno img{
	width: 85%;
	padding: 0 10px;
}

.dos img{
	margin-left: 0;
}

span{
	float: right;
}